.search {
  	padding-bottom: 85px; }

.search-list {
    padding-left: 20px;
    padding-right: 30px; }

.search-list li {
    font-size: 19px;
    padding-left: 15px;
    margin-bottom: 15px; }

.search-list-title {
    font-size: 24px;
    padding-bottom: 3px; }

.search-clmn-left {
    padding-left: 0px;
    padding-right: 30px; }

.search-clmn-right {
    padding-top: 25px;
    padding-left: 48px; }

.search-item {
    float: left; }

.search-item-one {
    width: 56%;
    margin-right: 10px; }

.search-item-two {
    width: 39.9%;
    margin-bottom: 9px; }

.search-item-three {
    width: 39.9%; }


@media screen and (max-width: 1280px) {
  .search-clmn-right {
    padding: 25px 15px 0px; }

  .search-list {
    padding-right: 0px; } }

@media screen and (max-width: 1199px) {
  .search-clmn-right {
    padding: 0px 15px 0px; }

  .search-clmn-left {
    padding-right: 10px; }

  .search-list {
    padding-right: 0px; }
}

@media screen and (max-width: 991px) {
  .search .container {
    max-width: 750px !important; }

  .search-clmn-left {
    padding: 0px 15px; }

  .search-clmn-right {
    padding-left: 15px; } 
}

@media screen and (max-width: 767px) {
  .search {
    padding-bottom: 0; }

  .search .container {
    max-width: 575px !important; }

  .search-item {
    width: 100%; }

  .search-item img {
    width: 100%; }
}